extends layout

block content
	div.jumbotron
		h1 欢迎来到 Microblog
		p Microblog是一个关于 Node.js的微博系统。
		p
			a.btn.btn-primary.btn-lg(href="/login") 登录
			a.btn.btn-default.btn-lg(href="/reg") 立即注册
	div.row
	div.span4
		h2 Carbo 说
		p 东风破早梅 向暖一枝开