doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    style(type="text/css") body{padding-top:60px;padding-bottom:40px;}
  body
    nav(role="navigation").navbar.navbar-inverse
      div.navbar-header
          btn(type="button" data-target="#navbarcollapse" data-toggle="collapse").navbar-toggle
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/") Microblog
       div#navbarCollapse.collapse.navbar-collapse
         ul.nav.navbar-nav
           li.active
              a(href="/") 首页
           li
              a(href="/login") 登入
           li
              a(href="/reg") 注册
    div#container.container
      block content
      hr
      p
      a(href="http://www.byvoid.com/", target="_blank") BYVoid
      | 2012
  script(src="/javascripts/jquery.js")
  script(src="/javascripts/bootstrap.js")
  